.tabs-component {
  margin-top: 4vh;

}

.tabs-component-tabs {
  display: flex;
  border-bottom: 1px solid #ddd;

  &::before {
    content: " ";
    display: table;
  }
}

.tabs-component-tab-a {
  padding: 10px 15px;
  position: relative;
  display: block;
  margin-right: 2px;
  line-height: 1.42857;
  color: #3f3f3f;
  border: 1px solid transparent;

  &.is-active {
    color: #3f3f3f;
    font-weight: 700;
    background: #fff;
    border: 1px solid;
    border-color: #ddd #ddd transparent;
    cursor: default;
    margin-bottom: -1px;
  }
}

.tabs-component-panels {
  padding: 5vh 0;
}

.tabs-component-panel {
  display: flex;
}

.tabs-component-panel ul {
  list-style: unset;
  list-style-position: inside;
}
