body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --header-height: 16.6dvh;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  background-size: 26rem;
  scroll-snap-align: start;
}

.section__container {
  --tw-scroll-snap-strictness: mandatory;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: none;
  /* Firefox */
}

.section__container::-webkit-scrollbar {
  display: none;
}

img,
video {
  max-width: unset;
}

h1.main__title,
h2.main__title,
h3.main__title {
  font-weight: 900;
}

h1.main__title {
  font-size: 1.875rem;
  line-height: 2.125rem;
}

p.description {
  font-size: 1.4rem;
  line-height: 1.65rem;
  font-weight: 300;
}

a.cta__primary,
button.cta__primary {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  font-size: 1rem;
  padding: 0.75rem;

}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

input,
textarea {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0;
  box-sizing: border-box;
  background-color: transparent;
}

form input::placeholder,
form textarea::placeholder {
  font-size: 1rem;
}


.background-emblem-columbia-blue,
.background-emblem-azure-top-botom,
.background-emblem-azure-botom,
.background-emblem-columbia-blue-top-bottom,
.background-emblem-azure-top {
  justify-content: flex-end;
  background-repeat: no-repeat;
}

.background-emblem-columbia-blue {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
  background-position: bottom center;
}

.background-emblem-azure-top-botom {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-lineas.svg");
  background-position: top center, bottom center;
}

.background-emblem-azure-botom {
  background-image:
    url("/assets/images/novanet-studio-emblema-semicirculo-lineas.svg");
  background-position: bottom center;
}


.background-emblem-azure-top {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg");
  background-position: top center;
}

.background-emblem-columbia-blue-top-bottom {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue-lineas.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
  background-position: top center, bottom center;
}


/* Width <= 375px */
@media (width <=23.438rem) {

  p.description {
    display: none;
  }

  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top {
    background-size: 24rem;
  }
}

/* Width >= 640px */


/* Width >= 768px */
@media (width >=48rem) {
  section {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top,
  .background-emblem-azure-botom {
    background-size: 47.50rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p.description {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

/* Width >= 1024px */
@media (width >=64rem) {

  h1.main__title {
    font-size: 2rem;
    line-height: 2.125rem;
  }

  p.description {
    font-size: 1.625rem;
    line-height: 1.75rem;
  }

  a.cta__primary,
  button.cta__primary {
    font-size: 1.375rem;
    line-height: 1.5rem;
    padding: 1.5rem;
  }

  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top,
  .background-emblem-azure-botom {
    background-size: 40rem;
  }

  .background-emblem-columbia-blue {
    background-position: bottom right;
  }

  .background-emblem-azure-top-botom {
    background-position: top right, bottom left;
  }

  .background-emblem-columbia-blue-top-bottom {
    background-position: top left, bottom right;
  }

  .background-emblem-azure-top {
    background-position: top right;
  }

  .background-emblem-azure-botom {
    background-position: bottom right;
  }

}

/* Width >= 1280px */
@media (width >=80rem) {

  section {
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  h1.main__title {
    font-size: 2rem;
    line-height: 2.125rem;
  }

  p.description {
    font-size: 1.625rem;
    line-height: 1.75rem;
  }

  a.cta__primary,
  button.cta__primary {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top,
  .background-emblem-azure-botom {
    background-size: 50rem;
  }

}

/* Width >= 1536px */
@media (width >=96rem) {


  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top,
  .background-emblem-azure-botom {
    background-size: 50rem;
  }

  .background-emblem-azure-top-botom {
    background-position: top right, bottom left;
  }

  .background-emblem-columbia-blue-top-bottom {
    background-position: top left, bottom right;
  }

  .background-emblem-azure-top {
    background-position: top right;
  }

  .background-emblem-azure-botom {
    background-position: bottom right;
  }

  /* Background animations */

  .background-emblem-columbia-blue {
    background-position: bottom -50vh right;
    animation: mainSection 2s linear forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
  }

  @keyframes mainSection {
    0% {
      background-position: bottom -60vh right;
    }

    100% {
      background-position: bottom right;
    }
  }

}