body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --header-height: 16.6dvh;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  background-size: 26rem;
  /* Emblem background size */
}

img,
video {
  max-width: unset;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 1.875rem;
  line-height: 1.25rem;
}

p.description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.app-container {
  padding-bottom: 1.5rem;
}

.background-emblem-1 {
  background-image: url("/assets/images/novanet-emblema-semicirculo-2.svg"),
    url("/assets/images/novanet-emblema-semicirculo-borde-azul.svg");
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

.background-emblem-2 {
  background-image: url("/assets/images/novanet-emblema-semicirculo-borde-azul-reverso.svg"),
    url("/assets/images/novanet-emblema-semicirculo-1.svg");
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

.background-emblem-3 {
  background-image: url("/assets/images/novanet-columbia-reverse-right.svg"),
    url("/assets/images/novanet-columbia-reverse-left.svg"),
    url("/assets/images/novanet-emblema-semicirculo-1.svg");
  background-position: top right, top left, bottom center;
  background-repeat: no-repeat;
  size: 62.899rem;
}

@media (width >=40rem) {}

@media (width >=48rem) {
  section {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 1.25rem;
  }
}

@media (width >=64rem) {

  section {
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
  }

  .background-emblem-1 {
    background-position: top center, bottom center;
  }

  .background-emblem-2 {
    background-position: top center, bottom center;
  }
}