body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --header-mobile-height: 12dvh;
  --header-desktop-height: 16dvh;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  scroll-snap-align: start;
}

.section__container {
  --tw-scroll-snap-strictness: mandatory;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: none;
}

.section__container::-webkit-scrollbar {
  display: none;
}

img,
video {
  max-width: unset;
}

h1.main__title,
h2.main__title,
h3.main__title {
  font-weight: 900;
}

h1.main__title {
  font-size: 1.625rem;
  line-height: 1.875rem;
}

h2.main__title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h3.main__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

p.description {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
}

p.description__short {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 300;
}

a.cta__primary,
a.cta__secondary,
button.cta__primary,
button.cta__secondary {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

a.cta__primary,
button.cta__primary {
  font-size: 1rem;
  line-height: 1.125rem;
  padding: 1.5rem;
}

a.cta__secondary,
button.cta__secondary {
  font-size: 0.875rem;
  padding: 1rem;
}

.cta__navigation {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  font-size: 0.875rem;
  text-decoration: underline;
  text-underline-offset: 0.75rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0;
  box-sizing: border-box;
  background-color: transparent;
}

form input::placeholder,
form textarea::placeholder {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 100;
  color: white;
}

.lista {
  font-size: 1.3rem;
}

.lista a:hover .icon-svg svg path {
  fill: #0f172a;
}

.lista .icon-svg svg {
  width: 2rem;
}

.direction-reverse {
  flex-direction: column-reverse;
}

.custom-scrollbar-y::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-x::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar-y::-webkit-scrollbar-button {
  height: 0;
}

.custom-scrollbar-x::-webkit-scrollbar-button {
  width: 0;
}

.custom-scrollbar-x::-webkit-scrollbar-track,
.custom-scrollbar-y::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb,
.custom-scrollbar-y::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  opacity: 0;
}

.tabs {
  padding: 1rem 0 1rem 0;
}

.tab-headers {
  display: flex;
  gap: 2rem;
  min-height: 2.5rem;
  margin-bottom: 1rem;
}

.tab-header {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

.tab-header.active {
  border-bottom: 2px solid;
  font-weight: 800;
}

.tab-content {
  min-height: 7.5rem;
  transition: 0.3s;
}

/* Fade transition styles */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* Background animations */
.background-emblem-main,
.background-emblem-creatividad,
.background-emblem-innovacion,
.background-emblem-colaboracion,
.background-emblem-contacto,
.background-emblem-nosotros,
.background-emblem-mision,
.background-emblem-vision,
.background-emblem-servicios,
.background-emblem-nosotros-contacto,
.background-emblem-portafolio,
.background-emblem-proyectos-recientes,
.background-emblem-galeria,
.background-emblem-blog,
.background-emblem-galeria-blog {
  background-repeat: no-repeat;
}

.background-emblem-main {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
}

.background-emblem-creatividad {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-azure-lineas.svg");
}

.background-emblem-contacto {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure-lineas.svg");
}

.background-emblem-colaboracion {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg");
}

.background-emblem-innovacion {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue-lineas.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
}

.background-emblem-nosotros {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-autronauta.webp");
  background-size: 10rem;
}

.background-emblem-mision {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-blanco-lineas.svg");
}

.background-emblem-vision {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-lineas-derecho.svg");
}

.background-emblem-portafolio {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-piramides.webp");
  background-size: 10rem;
}

.background-emblem-proyectos-recientes {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure-lineas-derecho.svg");
  background-size: 10rem;
}

.background-emblem-galeria {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-lineas-derecho.svg");
  padding-top: var(--header-mobile-height);
}

.background-emblem-galeria-blog {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-blanco-lineas-derecha.svg");
  padding-top: var(--header-mobile-height);
}

.background-emblem-nosotros-contacto {
  background-position: left center;
}

.background-emblem-servicios {
  background-image: url("/assets/images/novanet-studio-emblema-invertido.svg");
  background-size: 70rem;
  background-position: center;
}

.background-emblem-main,
.background-emblem-contacto {
  background-position: bottom -60vh center;
}

.background-emblem-creatividad {
  background-position: top -60vh center, bottom -60vh center;
}

.background-emblem-innovacion {
  background-position: top -60vh center, bottom -60vh center;
}

.background-emblem-colaboracion {
  background-position: top -60vh center;
}

.background-emblem-nosotros,
.background-emblem-portafolio {
  background-position: bottom 5rem right -60vh;
}

.background-emblem-mision {
  background-position: left -60vh center;
}

.background-emblem-vision,
.background-emblem-galeria,
.background-emblem-proyectos-recientes,
.background-emblem-galeria-blog {
  background-position: center right -60vw;
}

/* Background animations */

.background-emblem-main.animate-background,
.background-emblem-contacto.animate-background {
  animation: mainSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-creatividad.animate-background {
  animation: creatividadSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-innovacion.animate-background {
  animation: innovacionSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-colaboracion.animate-background {
  animation: colaboracionSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-nosotros.animate-background,
.background-emblem-portafolio.animate-background {
  animation: nosotrosSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-mision.animate-background {
  animation: misionSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-vision.animate-background,
.background-emblem-galeria.animate-background,
.background-emblem-proyectos-recientes.animate-background,
.background-emblem-galeria-blog.animate-background {
  animation: visionSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

.background-emblem-servicios.animate-background {
  animation: serviciosSectionPortrait 2s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

@keyframes mainSectionPortrait {
  0% {
    background-position: bottom -60vh center;
  }

  100% {
    background-position: bottom center;
  }
}

@keyframes creatividadSectionPortrait {
  0% {
    background-position: top -60vh center, bottom -60vh center;
  }

  100% {
    background-position: top center, bottom center;
  }
}

@keyframes innovacionSectionPortrait {
  0% {
    background-position: top -60vh center, bottom -60vh center;
  }

  100% {
    background-position: top center, bottom center;
  }
}

@keyframes colaboracionSectionPortrait {
  0% {
    background-position: top -60vh center;
  }

  100% {
    background-position: top center;
  }
}

@keyframes nosotrosSectionPortrait {
  0% {
    background-position: bottom 5rem right -60vh;
  }

  100% {
    background-position: bottom 5rem right;
  }
}

@keyframes misionSectionPortrait {
  0% {
    background-position: left -60vh center;
  }

  100% {
    background-position: left center;
  }
}

@keyframes visionSectionPortrait {
  0% {
    background-position: center right -60vh;
  }

  100% {
    background-position: center right;
  }
}

@keyframes serviciosSectionPortrait {
  0% {
    background-size: 70rem;
  }

  100% {
    background-size: 110rem;
  }
}

@keyframes mainSectionLandscape {
  0% {
    background-position: bottom -60vh right;
  }

  100% {
    background-position: bottom right;
  }
}

@keyframes creatividadSectionLandscape {
  0% {
    background-position: top -60vh right, bottom -60vh left;
  }

  100% {
    background-position: top right, bottom left;
  }
}

@keyframes innovacionSectionLandscape {
  0% {
    background-position: top -60vh left, bottom -60vh right;
  }

  100% {
    background-position: top left, bottom right;
  }
}

@keyframes colaboracionSectionLandscape {
  0% {
    background-position: top -60vh right;
  }

  100% {
    background-position: top right;
  }
}

@keyframes nosotrosSectionLandscape {
  0% {
    background-position: bottom right -60vh;
  }

  100% {
    background-position: bottom right;
  }
}

@keyframes serviciosSectionLandscape {
  0% {
    background-size: 110rem;
  }

  100% {
    background-size: 150rem;
  }
}

/* Width <= 390px */
@media (width <=24.375rem) {

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto,
  .background-emblem-mision,
  .background-emblem-vision,
  .background-emblem-proyectos-recientes,
  .background-emblem-galeria {
    background-size: 24rem;
  }

  .background-emblem-nosotros,
  .background-emblem-portafolio,
  .background-emblem-blog {
    background-size: 8rem;
    padding-top: var(--header-mobile-height);
  }
}


/* Width => 390px */
@media (width >=24.375rem) {
  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto,
  .background-emblem-mision,
  .background-emblem-vision,
  .background-emblem-proyectos-recientes,
  .background-emblem-galeria,
  .background-emblem-blog,
  .background-emblem-galeria-blog {
    background-size: 26rem;
  }

  .background-emblem-nosotros,
  .background-emblem-portafolio {
    background-size: 13rem;
    padding-top: var(--header-mobile-height);
    background-position: bottom 5rem right;
  }
}

/* Width >= 768px */
@media (width >=48rem) {
  section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  h2 {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  p.description {
    font-size: 1.625rem;
    line-height: 1.875rem;
  }

  a.cta__primary,
  button.cta__primary {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  a.cta__secondary,
  button.cta__secondary {
    font-size: 1.25rem;
  }

  .cta__navigation {
    font-size: 1.25rem;
  }

  form input::placeholder,
  form textarea::placeholder {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto {
    background-size: 47.5rem;
  }

  .background-emblem-nosotros,
  .background-emblem-portafolio {
    background-size: 18rem;
  }

  .background-emblem-mision,
  .background-emblem-vision,
  .background-emblem-galeria,
  .background-emblem-proyectos-recientes,
  .background-emblem-galeria-blog {
    background-size: 32rem;
  }

  .background-emblem-servicios {
    background-size: 110rem;
  }
}

/* Width >= 1024px and orientation portrait */
@media (width >=64rem) and (orientation: portrait) {
  section {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p.description {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto {
    background-size: 64rem;
  }

  .background-emblem-nosotros,
  .background-emblem-proyectos-recientes,
  .background-emblem-portafolio {
    background-size: 22em;
  }

  .background-emblem-mision,
  .background-emblem-vision,
  .background-emblem-proyectos-recientes,
  .background-emblem-galeria,
  .background-emblem-galeria-blog {
    background-size: 42rem;
  }

  .background-emblem-servicios {
    background-size: 110rem;
  }
}

/* Width >= 1024px */
@media (width >=64rem) and (orientation: landscape) {
  section {
    flex-direction: row;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-nosotros-contacto {
    background-size: 50rem;
  }

  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 40rem;
  }

  .background-emblem-nosotros,
  .background-emblem-portafolio,
  .background-emblem-proyectos-recientes {
    background-size: 24rem;
    padding-top: unset;
  }

  .background-emblem-mision,
  .background-emblem-vision,
  .background-emblem-galeria {
    background-size: 25rem;
  }

  .background-emblem-main,
  .background-emblem-contacto {
    background-position: bottom -60vh right;
  }

  .background-emblem-creatividad {
    background-position: top -60vh right, bottom -60vh left;
  }

  .background-emblem-innovacion {
    background-position: top -60vh left, bottom -60vh right;
  }

  .background-emblem-colaboracion {
    background-position: top -60vh right;
  }

  .background-emblem-nosotros,
  .background-emblem-portafolio {
    background-position: bottom right -60vh;
  }

  .background-emblem-main.animate-background,
  .background-emblem-contacto.animate-background {
    animation-name: mainSectionLandscape;
  }

  .background-emblem-creatividad.animate-background {
    animation-name: creatividadSectionLandscape;
  }

  .background-emblem-innovacion.animate-background {
    animation-name: innovacionSectionLandscape;
  }

  .background-emblem-colaboracion.animate-background {
    animation-name: colaboracionSectionLandscape;
  }

  .background-emblem-nosotros.animate-background,
  .background-emblem-portafolio.animate-background {
    animation-name: nosotrosSectionLandscape;
  }

  .background-emblem-servicios.animate-background {
    animation-name: serviciosSectionLandscape;
  }
}

/* Width >= 1280px */
@media (width >=80rem) {
  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  h1.main__title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  h2.main__title {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  p.description {
    font-size: 1.625rem;
    line-height: 1.875rem;
  }

  p.description {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .direction-reverse {
    flex-direction: row-reverse;
  }

  .background-emblem-galeria {
    padding-top: var(--header-desktop-height);
  }
}

/* Width >= 1536px */
@media (width >=96rem) {
  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto,
  .background-emblem-mision,
  .background-emblem-vision,
  .background-emblem-galeria {
    background-size: 50rem;
  }

  .background-emblem-proyectos-recientes,
  .background-emblem-galeria {
    background-size: 32rem;
    background-position: center right -60vw;
  }
}

/* Width >= 1920px */
@media (width >=120rem) {
  p.description {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  p.description__short {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  a.cta__primary,
  button.cta__primary {
    font-size: 1.75rem;
    line-height: 1.813rem;
  }

  a.cta__secondary,
  button.cta__secondary {
    font-size: 1.25rem;
    line-height: 1.563rem;
  }

  .cta__navigation {
    font-size: 1.25rem;
  }

  form input::placeholder,
  form textarea::placeholder {
    font-size: 1.563rem;
    line-height: 1.813rem;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto {
    background-size: 64rem;
  }

  .background-emblem-nosotros,
  .background-emblem-portafolio,
  .background-emblem-mision,
  .background-emblem-proyectos-recientes,
  .background-emblem-vision,
  .background-emblem-galeria {
    background-size: 29rem;
  }
}
