body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --header-height: 16.6dvh;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  background-size: 26rem;
  scroll-snap-align: start;
}

.section__container {
  --tw-scroll-snap-strictness: mandatory;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: none;
  /* Firefox */
}

.section__container::-webkit-scrollbar {
  display: none;
}

img,
video {
  max-width: unset;
}

h1.main__title,
h2.main__title,
h3.main__title {
  font-weight: 900;
}

h1.main__title {
  font-size: 1.875rem;
  line-height: 2.125rem;
}

p.description {
  font-size: 1.4rem;
  line-height: 1.65rem;
  font-weight: 300;
}

a.cta__primary,
button.cta__primary {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  font-size: 1rem;
  padding: 0.75rem;

}

.cta__navigation {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  font-size: .9rem;
  text-decoration: underline;
  text-underline-offset: .75rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

input,
textarea {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0;
  box-sizing: border-box;
  background-color: transparent;
}

form input::placeholder,
form textarea::placeholder {
  font-size: 1rem;
  font-weight: 100;
  color: white;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.3rem;
}

.lista a:hover .icon-svg svg path {
  fill: #0f172a;
}

.lista .icon-svg svg {
  width: 2rem;

}

.direction-reverse {
  flex-direction: column-reverse;
}

.tabs {
  padding: 1rem 0 1rem 0;
}

.tab-headers {
  display: flex;
  gap: 2rem;
  min-height: 2.5rem;
  margin-bottom: 1rem;
}

.tab-header {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

.tab-header.active {
  border-bottom: 2px solid;
  font-weight: 800;
}

.tab-content {
  min-height: 7.5rem;
  transition: 0.3s;
}

/* Fade transition styles */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.background-emblem-main,
.background-emblem-creatividad,
.background-emblem-innovacion,
.background-emblem-colaboracion,
.background-emblem-contacto,
.background-emblem-nosotros,
.background-emblem-mision,
.background-emblem-vision,
.background-emblem-nosotros-contacto {
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
}

.background-emblem-main {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
  background-position: bottom center;
}

.background-emblem-creatividad {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-azure-lineas.svg");
  background-position: top center, bottom center;
}

.background-emblem-contacto {
  background-image:
    url("/assets/images/novanet-studio-emblema-semicirculo-azure-lineas.svg");
  background-position: bottom center;
}

.background-emblem-colaboracion {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg");
  background-position: top center;
}

.background-emblem-innovacion {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue-lineas.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
  background-position: top center, bottom center;
}

.background-emblem-nosotros {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-autronauta.webp");
  background-position: bottom right;
  background-size: 10rem;
  justify-content: flex-start;
}

.background-emblem-mision {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-blanco-lineas.svg");
  background-position: left center;
  background-repeat: no-repeat;
  justify-content: center;
}

.background-emblem-vision {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-lineas-derecho.svg");
  background-position: right center;
  background-repeat: no-repeat;
  justify-content: center;
}

.background-emblem-nosotros-contacto {
  background-position: left center;
}

.background-emblem-servicios {
  background-image: url("/assets/images/novanet-studio-emblema-invertido.svg");
  background-position: left -20rem center;
  background-repeat: no-repeat;
  background-size: 70rem;
}

/* Width <= 390px */
@media (width <=24.375rem) {

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 24rem;
  }

  .background-emblem-nosotros {
    background-size: 8rem;
    padding-top: var(--header-height);
    background-position: bottom 5rem right;
  }
}

/* Width => 390px */
@media (width >=24.375rem) {

  .background-emblem-nosotros {
    background-size: 13rem;
    padding-top: var(--header-height);
    background-position: bottom 5rem right;
  }
}


/* Width >= 640px */
@media (width >=40rem) {

  .background-emblem-nosotros {
    padding-top: var(--header-height);
  }
}


/* Width >= 768px */
@media (width >=48rem) {
  section {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto {
    background-size: 47.50rem;
  }

  .background-emblem-nosotros {
    background-size: 18rem;
  }

  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 32rem;
  }

  .background-emblem-servicios {
    background-size: 144rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p.description {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

/* Width >= 1024px */
@media (width >=64rem) {

  section {
    flex-direction: row;
    align-items: center;
  }

  h1.main__title {
    font-size: 2rem;
    line-height: 2.125rem;
  }

  p.description {
    font-size: 1.625rem;
    line-height: 1.75rem;
  }

  a.cta__primary,
  button.cta__primary {
    font-size: 1.375rem;
    line-height: 1.5rem;
    padding: 1.5rem;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto,
  {
  background-size: 40rem;
}

.background-emblem-mision,
.background-emblem-vision {
  background-size: 40rem;
}


.background-emblem-main {
  background-position: bottom right;
}

.background-emblem-creatividad {
  background-position: top right, bottom left;
}

.background-emblem-innovacion {
  background-position: top left, bottom right;
}

.background-emblem-colaboracion {
  background-position: top right;
}

.background-emblem-contacto {
  background-position: bottom right;
}

.background-emblem-nosotros {
  background-size: 22rem;
  background-position: bottom right;
  justify-content: center;
}

}

/* Width >= 1280px */
@media (width >=80rem) {

  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  h1.main__title {
    font-size: 2rem;
    line-height: 2.125rem;
  }

  p.description {
    font-size: 1.625rem;
    line-height: 1.75rem;
  }

  a.cta__primary,
  button.cta__primary {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  .direction-reverse {
    flex-direction: row-reverse;
  }

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-nosotros-contacto {
    background-size: 50rem;
  }

  .background-emblem-nosotros {
    background-size: 24rem;
    background-position: center right;
    padding-top: unset;
    justify-content: flex-start;
  }

  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 25rem;
  }
}

/* Width >= 1536px */
@media (width >=96rem) {

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto,
  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 50rem;
  }

  .background-emblem-creatividad {
    background-position: top right, bottom left;
  }

  .background-emblem-innovacion {
    background-position: top left, bottom right;
  }

  .background-emblem-colaboracion {
    background-position: top right;
  }

  .background-emblem-contacto {
    background-position: bottom right;
  }

  /* Background animations */

  .background-emblem-main {
    background-position: bottom -50vh right;
    animation: mainSection 2s linear forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
  }

  @keyframes mainSection {
    0% {
      background-position: bottom -60vh right;
    }

    100% {
      background-position: bottom right;
    }
  }

}

/* Width >= 1920px */
@media (width >=120rem) {

  .background-emblem-main,
  .background-emblem-creatividad,
  .background-emblem-innovacion,
  .background-emblem-colaboracion,
  .background-emblem-contacto,
  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 64rem;
  }

  .background-emblem-nosotros,
  .background-emblem-mision,
  .background-emblem-vision {
    background-size: 32rem;
  }
}