body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --header-height: 16.6dvh;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  background-size: 26rem;
}

img,
video {
  max-width: unset;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 1.875rem;
  line-height: 1.25rem;
}

p.description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.app-container {
  padding-bottom: 1.5rem;
}

.background-emblem-columbia-blue,
.background-emblem-azure-top-botom,
.background-emblem-columbia-blue-top-bottom,
.background-emblem-azure-top {
  justify-content: flex-end;
  background-repeat: no-repeat;
}

.background-emblem-columbia-blue {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
  background-position: bottom center;
}

.background-emblem-azure-top-botom {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-lineas.svg");
  background-position: top center, bottom center;
}

.background-emblem-azure-top {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-azure.svg");
  background-position: top center;
}

.background-emblem-columbia-blue-top-bottom {
  background-image: url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue-lineas.svg"),
    url("/assets/images/novanet-studio-emblema-semicirculo-columbia-blue.svg");
  background-position: top center, bottom center;
}

@media (width >=40rem) {}

@media (width >=48rem) {
  section {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top {
    background-size: 47.50rem;
  }
}

@media (width >=64rem) {

  h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  p.description,
  .cta {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  section {
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .background-emblem-columbia-blue,
  .background-emblem-azure-top-botom,
  .background-emblem-columbia-blue-top-bottom,
  .background-emblem-azure-top {
    background-size: 63rem;
  }
}